.hero-banner .container{
    padding: 0;
}
.hero-banner {
    background-position: center;
}
.image-section .container{
    padding: 0;
}
.image-section {
    background-position: center;
    }
.background-image-section {
    background-position: center;
}
@media screen and (max-width:1280px) {
    .hero-banner__main-title {
        font-size: 72px;
    }
    .content-section__alpha {
        padding: 120px 80px;
    }
    .content-section__beta {
        padding: 120px 80px;
        display: unset;
    }
    .content-section__main-heading-2.font-size-1 {
        font-size: 36px;
    }
    .news-letter {
        padding: 140px 0;
    }
    .news-letter__sub-heading.font-size-1 {
        font-size: 36px;
        margin-bottom: 9px;
    }
    .fotter__projects-arrow {
        max-width: 60px;
        flex: 60px;
        height: 60px;
        min-width: 60px;
    }
    .fotter .beta .fotter__content {
        text-align: left;
    }
}
@media screen and (max-width:990px) {
    .hero-banner__main-title {
        font-size: 54px;
    }
    .content-section__content-wrap {
        display: flex;
        flex-direction: column;
    }
    .content-section__alpha {
        padding: 80px 30px;
        max-width: 100%;
        flex: 100%;
        margin: 0;
        box-shadow: none;
    }
    .content-section__beta {
        padding: 80px 30px;
        max-width: 100%;
        flex: 100%;
    }
    .content-section__main-heading-2.font-size-1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .news-letter {
        padding: 100px 0;
    }
    .news-letter__sub-heading.font-size-1 {
        font-size: 26px;
        margin-bottom: 7px;
    }
    .fotter__title {
        font-size: 10px;
    }
    .fotter__main-heading {
        font-size: 20px;
    }
    .fotter__content-area {
        left: 60px;
        right: 50px;
    }
    .fotter__content {
        text-align: left;
    }
    .fotter__projects-arrow {
        max-width: 50px;
        flex: 50px;
        min-width: 50px;
        height: 50px;
    }
    .copy-right__content-area.flex-between {
        flex-direction: column;
        width: 100%;
    }
    .copy-right-social-icon {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 8px;
        width: 100%;
        flex: unset;
    }
    .copy-right__text {
        width: 100%;
        flex: unset;
        text-align: center;
    }
}
@media screen and (max-width:767px) {
    .hero-banner__main-title {
        font-size: 38px;
        text-align: center;
    }
    .content-section .para {
        font-size: 18px;
    }
    .news-letter {
        padding: 80px 0;
    }
    .news-letter .para {
        font-size: 18px;
        margin-bottom: 36px;
    }
    .news-letter .btn {
        max-width: 500px;
    }
    .news-letter .button{
        font-size: 10px;
    }
    .fotter__content-area {
        left: 30px;
        right: 30px;
        flex-direction: column;
    }
    .fotter .beta .fotter__content-area {
        flex-direction: column-reverse;
    }
    .fotter__projects-arrow {
        width: 100%;
        margin-bottom: 24px;
    }
    .fotter__main-heading {
        font-size: 18px;
    }
    .copy-right {
        padding: 20px 0;
    }
}